env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.env

/cache/
htmlcov/
*.coverage
.venv/
jobs/

*.cover
*.log
*.pot
*.mo
*.po
*.db
*.sqlite3
*.egg
*.egg-info/
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
